.page-footer {
  text-align: center; /* Centraliza o texto dentro do footer */
  padding: 10px; /* Adiciona um pequeno preenchimento ao redor do texto */
  background-color: #0076b56c; /* Cor azul LinkedIn */ /* Cor azul LinkedIn */
  color: #fff; /* Cor do texto dentro do footer */
}
