<header class="header">
  <div class="logo">
    <img src="assets/svg/logo.svg" alt="Logo da empresa" class="loguinho">
  </div>

  <nav class="nav-menu">
    <ul class="list-inline mb-0">
        <li class="list-inline-item escrita"><a routerLink="/">Início</a></li>
        <li class="list-inline-item escrita"><a routerLink="/sobrenós">Sobre nós</a></li>
        <li class="list-inline-item escrita"><a routerLink="/etec">Etec</a></li>
        <li class="list-inline-item escrita"><a routerLink="/agradecimento">Agradecimento</a></li>
        <li class="list-inline-item escrita"><a routerLink="/contato">Contato</a></li>
        <li class="list-inline-item escrita"><a routerLink="/contato" class="button">Entrar</a></li>
        <li class="list-inline-item escrita"><a routerLink="/contato" class="button">Cadastrar-se</a></li>
    </ul>
</nav>
</header>

<body class="body-gradient">
  

 <main class="main-content">
  
  <div class="content">
    <h1 id="title1">Manthano</h1>
    <p id="title2">Bem vindo</p>
    <p class="custom-text">A Manthano é sua parceira em educação para estudantes de TI, recomendando cursos online e instituições ideais para seu desenvolvimento profissional. Estamos aqui para guiar seu caminho rumo ao sucesso na tecnologia.</p>
 </div>
 
</main>

<footer class="footer">
  <!-- Seu rodapé aqui -->
</footer>

  </body>]


